/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px !important;
    padding: 0;
    font-family: "Bebas Neue" !important;
    font-weight: 700;
    background-color: black;
}
.Grün{
    color: #00FF38;
}
.Rot{
    color: #F30505;

}
.Blau{
    color: #0286FF;
}

.rolltext{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    line-height: 1.4vw;
}

.rolltextwrapper{
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    height: 100%;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;

}
.weight-normal{
    font-weight: 400;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
