:host{
    grid-column: 12/span 6;
    grid-row:   5/span 4;
    background-color: black;
    border-radius: 5px;
    padding: 8%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
    font-size: 5.5vw;
    position: relative;
    line-height: 1.8vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}