<div style="display: flex; width: 100%; justify-content: space-around; align-items: center;" [class]="open?'Grün':'Rot'">
    <div style="width: 20%;"> <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16"*ngIf="open">
        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
       </svg><img src="../../assets/door-closed-fill.svg" *ngIf="!open"> </div>
    <div >{{open?"Open":"closed"}}</div>
</div>
