[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sse = "*"
redis = "*"
redisworks = "*"
python-telegram-bot = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
