# OpenSSL configuration for end-entity cert

[ req ]

prompt             = no
string_mask        = default

# The size of the keys in bits:
default_bits       = 2048
distinguished_name = req_distinguished_name

x509_extensions    = x509_ext

default_days    = 365
days            = 365

[ req_distinguished_name ]

# Note that the following are in 'reverse order' to what you'd expect to see.

countryName = de
organizationName = SilentParty
commonName = SilentParty Local

[ x509_ext ]

keyUsage=critical,digitalSignature,keyAgreement

subjectAltName = @alt_names

# Multiple Alternate Names are possible
[alt_names]
DNS.1 = sp
DNS.2 = api.sp
DNS.3 = ticket.sp
DNS.4 = kasse.sp
DNS.5 = dashboard.sp